body {
    font-family: Arial; 
    background-color: #333333;
    padding-top:5px; 
    padding-bottom:55px; 
    padding-left:20px; 
    padding-right:20px; 
    margin-left:auto;
    margin-right:auto;
}

.text
{ 
    font-family: 'Arial';
    margin-left:auto; 
    margin-right:auto; 
    width:970px;
    background-color:#ffffff;
}

#wrap { 
    width: 970px; 
    margin: 0 auto; 
}

.column {
    float: left;
    width: 30%;
    padding: 1px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.tail {
    color: #606060;
}

p.ex1 {
    padding-left:275px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-left:auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ddd;
}

.tabcontent {
    background-color: #ffffff;
    // display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 475px;
    margin-left:auto;
    margin-right:auto;
}
